<mat-toolbar>
  <span>HourCount</span>
</mat-toolbar>

<mat-grid-list  cols="3">
  <mat-grid-tile colspan="1">
    <app-working-time-form></app-working-time-form>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <app-working-time-sum (selectedDateEvent)="switchDetails($event)"></app-working-time-sum>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <app-working-time-detail [selectedDate]="dateselect"></app-working-time-detail>
  </mat-grid-tile>
</mat-grid-list>
