<mat-toolbar>
  <span>HourCount</span>
</mat-toolbar>

<mat-grid-list  cols="3">
  <mat-grid-tile style="color: aliceblue" colspan="1">

    <app-working-time-form style="color: aliceblue"></app-working-time-form>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
  </mat-grid-tile>
  <mat-grid-tile colspan="1">
    <app-working-time-sum ></app-working-time-sum>
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <app-working-time-detail ></app-working-time-detail>
  </mat-grid-tile>
</mat-grid-list>
